
<div id="contacts" class="bg-[url('/bg/contacts-bg.webp')] bg-cover">
  <div class="max-w-[1280px] sm:px-[24px] mx-auto font-railway sm:pt-[5px] pt-[71px] pb-[127px] sm:pb-[5px]">
    <div class="text-[45px] sm:text-[28px] font-bold">Контакты</div>
    <div class="flex sm:flex-wrap">
      <div>
        <div class="text-[30px] sm:text-[16px] sm:max-w-[60%] sm:mt-[37px] mt-[80px]">
          У вас остались вопросы или предложения? <br/> <br/> Свяжитесь с нами через
        </div>
        <div class="space-y-4 mt-10 sm:mt-[40px]">
          <a href="mailto:beqarys.otarov@gmail.com" class="hover:opacity-[0.6] flex space-x-2 items-center sm:text-[16px] ">
            <div>
              <svg class="sm:w-[24px]" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6653 20.1972C16.6618 20.1972 15.6613 19.8657 14.8243 19.2027L8.09685 13.7787C7.61235 13.3887 7.53735 12.6792 7.92585 12.1962C8.31735 11.7147 9.02535 11.6382 9.50835 12.0267L16.2298 17.4447C17.0743 18.1137 18.2638 18.1137 19.1143 17.4387L25.7683 12.0297C26.2513 11.6352 26.9593 11.7102 27.3523 12.1932C27.7438 12.6747 27.6703 13.3827 27.1888 13.7757L20.5228 19.1937C19.6798 19.8627 18.6718 20.1972 17.6653 20.1972Z" fill="white"/>
                <mask id="mask0_1_419" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="3" width="33" height="30">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 3H33.7499V32.25H1.5V3Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1_419)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2584 30H24.9884C24.9914 29.997 25.0034 30 25.0124 30C26.7239 30 28.2419 29.388 29.4059 28.2255C30.7574 26.88 31.4999 24.9465 31.4999 22.782V12.48C31.4999 8.2905 28.7609 5.25 24.9884 5.25H10.2614C6.48888 5.25 3.74988 8.2905 3.74988 12.48V22.782C3.74988 24.9465 4.49388 26.88 5.84388 28.2255C7.00788 29.388 8.52738 30 10.2374 30H10.2584ZM10.2329 32.25C7.91838 32.25 5.85138 31.41 4.25538 29.82C2.47788 28.047 1.49988 25.548 1.49988 22.782V12.48C1.49988 7.0755 5.26638 3 10.2614 3H24.9884C29.9834 3 33.7499 7.0755 33.7499 12.48V22.782C33.7499 25.548 32.7719 28.047 30.9944 29.82C29.3999 31.4085 27.3314 32.25 25.0124 32.25H24.9884H10.2614H10.2329Z" fill="white"/>
                </g>
              </svg>
            </div>
            <div>beqarys.otarov@gmail.com</div>
          </a>
          <a href="tel:+77770106219" class="hover:opacity-[0.6] flex space-x-2 items-center sm:text-[16px] ">
            <div>
              <svg class="sm:w-[24px]" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.93308 6.13178L5.0419 6.01805C7.93303 3.12666 9.81577 2.36027 11.8246 3.51543C12.4024 3.84772 12.9442 4.31285 13.6808 5.06102L15.9404 7.40405C17.1884 8.76589 17.4721 10.0722 17.0657 11.602L17.0098 11.8045L16.9476 12.0059L16.6456 12.8921C15.999 14.8796 16.269 16.0009 18.5692 18.3006C20.9612 20.692 22.0778 20.8877 24.2186 20.1396L24.6001 20.007L25.0615 19.8571L25.2634 19.8011C26.8895 19.3673 28.263 19.7135 29.7198 21.1692L31.5404 22.9278L32.0763 23.4549C32.6705 24.0608 33.0632 24.5409 33.3533 25.0483C34.5012 27.0566 33.734 28.9381 30.7595 31.9016L30.4765 32.1883C30.0324 32.6163 29.6175 32.923 29.0079 33.2124C27.9847 33.6982 26.7759 33.8813 25.3713 33.686C21.9101 33.2047 17.5202 30.4737 11.9578 24.9127C11.505 24.46 11.0714 24.0161 10.6564 23.5807L9.85121 22.7214C2.30644 14.5243 1.64083 9.48882 4.73276 6.33076L4.93308 6.13178ZM11.8596 6.42139C11.3709 5.9396 11.0159 5.6459 10.703 5.46594C10.0107 5.06784 9.26324 5.23612 7.87994 6.42671L7.44529 6.81502C7.36948 6.885 7.29193 6.95765 7.21257 7.03303L6.71416 7.51847L6.66926 7.57458L6.33136 7.91405C5.51484 8.74806 5.12806 9.76596 5.46136 11.5165C6.00827 14.389 8.51163 18.2858 13.5486 23.3215C18.7969 28.5685 22.7957 31.0562 25.6812 31.4575C27.3633 31.6914 28.2213 31.284 29.0963 30.3876L29.7636 29.7142C30.0765 29.3868 30.3439 29.09 30.5696 28.8189L30.8776 28.4309C31.6645 27.3826 31.7364 26.7537 31.3999 26.1649C31.2718 25.9409 31.0855 25.6953 30.8143 25.3951L30.4465 25.0065L30.2288 24.7887L27.9319 22.5708C27.1644 21.863 26.6398 21.7626 25.8435 21.975L25.6135 22.0412L24.6621 22.3641C21.9019 23.2556 19.9107 22.8233 16.9784 19.8918C13.9414 16.8556 13.5853 14.8281 14.6028 11.9088L14.6681 11.7212L14.8486 11.1773L14.9373 10.8306C15.0947 10.0762 14.9151 9.55016 14.104 8.73901C14.0706 8.70562 14.0333 8.66799 13.9927 8.6268L11.8596 6.42139Z" fill="white"/>
              </svg>
            </div>
            <div>+7 777 010 6219</div>
          </a>
          <a href="https://yandex.kz/maps/ru/-/CDu1rA2v" target="_blank" class="hover:opacity-[0.6] flex space-x-2 items-center sm:text-[16px] ">
            <div>
              <svg class="sm:w-[24px]" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3757 12.75C16.9282 12.75 15.7507 13.9275 15.7507 15.3765C15.7507 16.824 16.9282 18 18.3757 18C19.8232 18 21.0007 16.824 21.0007 15.3765C21.0007 13.9275 19.8232 12.75 18.3757 12.75ZM18.3757 20.25C15.6877 20.25 13.5007 18.0645 13.5007 15.3765C13.5007 12.687 15.6877 10.5 18.3757 10.5C21.0637 10.5 23.2507 12.687 23.2507 15.3765C23.2507 18.0645 21.0637 20.25 18.3757 20.25Z" fill="white"/>
                <mask id="mask0_1_425" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="6" y="3" width="25" height="30">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 3H30.7493V32.25H6V3Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1_425)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3743 5.25C12.7913 5.25 8.24927 9.8355 8.24927 15.4695C8.24927 22.638 16.6853 29.622 18.3743 29.994C20.0633 29.6205 28.4993 22.6365 28.4993 15.4695C28.4993 9.8355 23.9573 5.25 18.3743 5.25ZM18.3743 32.25C15.6833 32.25 5.99927 23.922 5.99927 15.4695C5.99927 8.5935 11.5508 3 18.3743 3C25.1978 3 30.7493 8.5935 30.7493 15.4695C30.7493 23.922 21.0653 32.25 18.3743 32.25Z" fill="white"/>
                </g>
              </svg>                
            </div>
            <div class="max-w-[450px]">
              Университет Нур-Мубарак,
              «Al Farabi» hall, город Алматы, Проспект Аль-Фараби, 73Б
            </div>
          </a>
        </div>
      </div>
      <div class="ml-auto sm:ml-0 sm:mt-[40px]">
        <iframe title="Yandex Карты" class="rounded-[16px] sm:w-[90vw]" loading="lazy" src="https://yandex.ru/map-widget/v1/?um=constructor%3A69b3bffb97032b8e290c3a6f6b7aa4095f2f99453cfdc86f3d1eead601ae4905&amp;source=constructor" width="567" height="484" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>