---
import { getCollection } from "astro:content";
import Bigtech from '~/components/icons/bigtech.astro'
import Dev from '~/components/icons/dev.astro'
import Finance from '~/components/icons/finance.astro'
import Invest from '~/components/icons/invest.astro'
import Startups from '~/components/icons/startups.astro'
import UIBtn from "./ui-btn.astro";

---

<div id="events" class="bg-[url('/bg/bg-speakers.webp')] bg-cover bg-no-repeat bg-center pb-[73px] sm:pb-[0] font-railway">
  <div class="max-w-[1280px] mx-auto">
    <div class="text-[45px] font-bold sm:text-[28px] sm:max-w-[50%] sm:mx-auto sm:text-center">Что будет на Digital Umma 2024?</div>
    <div class="flex justify-center sm:flex-wrap sm:max-w-[390px] sm:mx-auto sm:space-x-0 space-x-14 sm:space-y-[14px] sm:mt-[47px] mt-[60px]">
      <div class="expectation-card px-[41px] pt-[55px] pb-[65px] sm:pt-[40px] sm:pb-[40px]">
        <div class="text-[90px] sm:text-[54px] sm:leading-[61px] leading-[101px] font-bold text-center">
          30+
        </div>
        <div class="text-[26px] sm:text-[16px] sm:leading-[18px] leading-[30px] mt-[11px] font-semibold text-center">
          приглашенных <br/>спикеров
        </div>
      </div>
      <div class="expectation-card px-[21px] pt-[55px] pb-[65px] sm:pt-[40px] sm:pb-[40px]">
        <div class="text-[90px] sm:text-[54px] sm:leading-[61px] leading-[101px] font-bold text-center">
          2000+
        </div>
        <div class="text-[26px] sm:text-[16px] sm:leading-[18px] leading-[30px] mt-[11px] font-semibold text-center">
          ожидаемое <br/> количество <br/> участников
        </div>
      </div>
      <div class="expectation-card px-[41px] pt-[55px] pb-[65px] sm:pt-[40px] sm:pb-[40px]">
        <div class="text-[90px] sm:text-[54px] sm:leading-[61px] leading-[101px] font-bold text-center">
          3
        </div>
        <div class="text-[26px] sm:text-[16px] sm:leading-[18px] leading-[30px] mt-[11px] font-semibold text-center">
          панельных сессий
        </div>
      </div>
    </div>
    <div class="sm:px-[24px] text-[32px] sm:text-[24px] font-bold mt-[60px]">Направления Тем</div>
    <div class="sm:px-[24px] mt-[70px] sm:mt-[38px]">
      <div class="flex justify-between sm:flex-wrap sm:justify-center sm:gap-6 sm:overflow-auto pb-6">
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px]">
          <Dev />
          <div class="mt-auto sm:text-[17px] sm:leading-normal">
            IT&nbsp;Разработка
          </div>
        </div>
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px]">
          <Bigtech />
          <div class="mt-auto sm:text-[17px] sm:leading-normal">
            Big Tech
          </div>
        </div>
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px]">
          <Startups />
          <div class="mt-auto sm:text-[17px] sm:leading-normal">
            Стартапы
          </div>
        </div>
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px] ">
          <Invest />
          <div class="mt-auto sm:text-[17px] sm:leading-normal">
            Инвестиции
          </div>
        </div>
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px]">
          <Finance />
          <div class="mt-auto sm:text-[17px] sm:leading-normal">
            Финансы
          </div>
        </div>
      </div>
    </div>
    <div class="mt-[90px] sm:hidden flex justify-center">
      <UIBtn href="https://docs.google.com/forms/d/12ZlQreBqfNXB95PaCbBpT8dX4hIZpWWUnsLuLO8CDYQ/edit" type="primary">Регистрация</UIBtn>
    </div>
  </div>
</div>