---
import { Icon } from "astro-icon/components";
import UIBtn from "./ui-btn.astro";
import Timer from './svelte/timer.svelte'
import SocialMedia from './social-media.astro'
---
<div id="main" class="relative sm:py-[5vh] py-[204px]">
  <div class="bg-[rgba(0,0,0,0.5)] sm:bg-[rgba(0,0,0,0.9)]">
    <div class="relative z-[5]">
      <div class="relative text-center max-w-[1280px] mx-auto sm:flex sm:items-center sm:flex-col">
        <div class="relative sm:order-3 sm:mt-[33px] flex sm:flex-col justify-center items-center space-x-5 text-[30px] sm:text-[20px] sm:space-x-0 sm:space-y-4 font-medium">
          <span>17 Февраля, 2024</span>
          <svg class="sm:hidden" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
            <circle cx="5" cy="5" r="5" fill="#D9D9D9"/>
          </svg>
          <span>10:00 (UTC 6+)</span>
          <svg class="sm:hidden" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
            <circle cx="5" cy="5" r="5" fill="#D9D9D9"/>
          </svg>
          <span>Алматы, Казахстан</span>
        </div>
        <div class="sm:order-2 mx-auto mt-[26px] sm:text-center sm:mx-auto font-railway text-[88px] sm:text-[42px] sm:leading-normal sm:max-w-[50%] leading-[100px] uppercase font-extrabold max-w-[700px]">
          Digital Umma IT Forum
        </div>
        <div class="sm:order-1 mt-[36px] text-[30px] sm:text-[20px] font-railway sm:max-w-[50vw] sm:text-center">
          Соединяя IT и Исламские Ценности
        </div>
        <Timer client:idle />
        <div class="sm:order-3 mt-[36px] space-x-4 sm:space-x-0 sm:flex sm:flex-col sm:items-center sm:space-y-4">
          <UIBtn href="https://docs.google.com/forms/d/12ZlQreBqfNXB95PaCbBpT8dX4hIZpWWUnsLuLO8CDYQ/edit" type="primary">Принять участие</UIBtn>
          <UIBtn href="https://instagram.com/digital_umma">
            <div class="flex items-center space-x-2 sm:hidden">
              <span>
                Подписаться 
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 55 55" fill="none">
                <path d="M27.5 21.8168C26.3759 21.8168 25.2771 22.1501 24.3425 22.7746C23.4079 23.3991 22.6794 24.2868 22.2493 25.3252C21.8191 26.3637 21.7066 27.5065 21.9258 28.6089C22.1451 29.7114 22.6864 30.7241 23.4813 31.5189C24.2761 32.3137 25.2888 32.855 26.3912 33.0743C27.4937 33.2936 28.6364 33.181 29.6749 32.7509C30.7134 32.3207 31.601 31.5923 32.2255 30.6577C32.85 29.723 33.1833 28.6242 33.1833 27.5002C33.1833 26.7538 33.0363 26.0148 32.7507 25.3252C32.4651 24.6357 32.0464 24.0092 31.5187 23.4814C30.991 22.9537 30.3644 22.5351 29.6749 22.2494C28.9854 21.9638 28.2463 21.8168 27.5 21.8168ZM50.2562 16.2022C50.2442 14.4325 49.9183 12.679 49.2937 11.0231C48.8337 9.81138 48.122 8.711 47.2056 7.79455C46.2891 6.87809 45.1888 6.16639 43.9771 5.70641C42.3212 5.08185 40.5676 4.75597 38.7979 4.74391C35.8416 4.5835 34.9708 4.5835 27.5 4.5835C20.0291 4.5835 19.1583 4.5835 16.2021 4.74391C14.4323 4.75597 12.6788 5.08185 11.0229 5.70641C9.8112 6.16639 8.71082 6.87809 7.79436 7.79455C6.87791 8.711 6.16621 9.81138 5.70623 11.0231C5.08167 12.679 4.75579 14.4325 4.74373 16.2022C4.58331 19.1585 4.58331 20.0293 4.58331 27.5002C4.58331 34.971 4.58331 35.8418 4.74373 38.7981C4.7684 40.574 5.09384 42.333 5.70623 44.0002C6.16417 45.2063 6.87527 46.3003 7.79165 47.2085C8.70417 48.1304 9.80691 48.8421 11.0229 49.2939C12.6788 49.9185 14.4323 50.2444 16.2021 50.2564C19.1583 50.4168 20.0291 50.4168 27.5 50.4168C34.9708 50.4168 35.8416 50.4168 38.7979 50.2564C40.5676 50.2444 42.3212 49.9185 43.9771 49.2939C45.193 48.8421 46.2958 48.1304 47.2083 47.2085C48.1247 46.3003 48.8358 45.2063 49.2937 44.0002C49.9177 42.3361 50.2435 40.5752 50.2562 38.7981C50.4166 35.8418 50.4166 34.971 50.4166 27.5002C50.4166 20.0293 50.4166 19.1585 50.2562 16.2022ZM44.4354 34.5356C44.3619 35.9498 44.06 37.3428 43.5416 38.6606C43.0968 39.7599 42.4354 40.7585 41.5968 41.597C40.7583 42.4356 39.7597 43.0969 38.6604 43.5418C37.3301 44.0313 35.9293 44.3022 34.5125 44.3439C32.7021 44.3439 32.2208 44.3439 27.5 44.3439C22.7791 44.3439 22.2979 44.3439 20.4875 44.3439C19.0706 44.3022 17.6698 44.0313 16.3396 43.5418C15.2031 43.1195 14.1769 42.4458 13.3375 41.571C12.5071 40.7489 11.8659 39.7557 11.4583 38.6606C10.9669 37.3317 10.7035 35.9293 10.6791 34.5127C10.6791 32.7022 10.6791 32.221 10.6791 27.5002C10.6791 22.7793 10.6791 22.2981 10.6791 20.4877C10.7035 19.071 10.9669 17.6686 11.4583 16.3397C11.8806 15.2033 12.5544 14.177 13.4291 13.3377C14.2549 12.5118 15.247 11.8712 16.3396 11.4585C17.6698 10.969 19.0706 10.6981 20.4875 10.6564C22.2979 10.6564 22.7791 10.6564 27.5 10.6564C32.2208 10.6564 32.7021 10.6564 34.5125 10.6564C35.9293 10.6981 37.3301 10.969 38.6604 11.4585C39.7968 11.8808 40.8231 12.5545 41.6625 13.4293C42.4928 14.2515 43.1341 15.2446 43.5416 16.3397C44.0311 17.67 44.302 19.0708 44.3437 20.4877C44.3437 22.2981 44.3437 22.7793 44.3437 27.5002C44.3437 32.221 44.5041 32.7022 44.4354 34.5127V34.5356ZM40.7687 17.4856C40.4959 16.7453 40.0657 16.0731 39.5078 15.5152C38.95 14.9574 38.2777 14.5272 37.5375 14.2543C36.5211 13.902 35.4506 13.7313 34.375 13.7502C32.5875 13.7502 32.0833 13.7502 27.5 13.7502C22.9166 13.7502 22.4125 13.7502 20.625 13.7502C19.5439 13.7607 18.4733 13.9624 17.4625 14.346C16.7336 14.6065 16.0684 15.0191 15.5113 15.5565C14.9542 16.0938 14.5178 16.7436 14.2312 17.4627C13.8984 18.4833 13.7358 19.5517 13.75 20.6252C13.75 22.4127 13.75 22.9168 13.75 27.5002C13.75 32.0835 13.75 32.5877 13.75 34.3752C13.7727 35.455 13.974 36.5236 14.3458 37.5377C14.6187 38.2779 15.0489 38.9501 15.6067 39.508C16.1646 40.0659 16.8368 40.4961 17.5771 40.7689C18.5548 41.1285 19.5838 41.3296 20.625 41.3647C22.4125 41.3647 22.9166 41.3647 27.5 41.3647C32.0833 41.3647 32.5875 41.3647 34.375 41.3647C35.456 41.3542 36.5267 41.1525 37.5375 40.7689C38.2777 40.4961 38.95 40.0659 39.5078 39.508C40.0657 38.9501 40.4959 38.2779 40.7687 37.5377C41.1523 36.5269 41.354 35.4562 41.3646 34.3752C41.3646 32.5877 41.3646 32.0835 41.3646 27.5002C41.3646 22.9168 41.3646 22.4127 41.3646 20.6252C41.3652 19.543 41.1631 18.4704 40.7687 17.4627V17.4856ZM27.5 36.2543C26.3514 36.2543 25.2142 36.0277 24.1534 35.5875C23.0926 35.1473 22.129 34.5021 21.3179 33.6889C20.5069 32.8757 19.8642 31.9105 19.4268 30.8485C18.9893 29.7865 18.7657 28.6487 18.7687 27.5002C18.7687 25.7678 19.2827 24.0743 20.2457 22.6342C21.2086 21.1941 22.5772 20.0721 24.1781 19.4102C25.7791 18.7483 27.5404 18.5763 29.2392 18.9159C30.938 19.2556 32.4978 20.0916 33.7211 21.3182C34.9445 22.5448 35.7764 24.1067 36.1116 25.8064C36.4468 27.506 36.2702 29.2669 35.6041 30.8661C34.938 32.4654 33.8124 33.831 32.3698 34.7901C30.9271 35.7493 29.2324 36.2589 27.5 36.2543ZM36.6666 20.4647C36.1601 20.4111 35.6912 20.1719 35.3505 19.7932C35.0098 19.4145 34.8212 18.9231 34.8212 18.4137C34.8212 17.9043 35.0098 17.4129 35.3505 17.0342C35.6912 16.6555 36.1601 16.4163 36.6666 16.3627C37.1732 16.4163 37.6421 16.6555 37.9828 17.0342C38.3235 17.4129 38.512 17.9043 38.512 18.4137C38.512 18.9231 38.3235 19.4145 37.9828 19.7932C37.6421 20.1719 37.1732 20.4111 36.6666 20.4647Z" fill="white"/>
              </svg>
            </div>
        </UIBtn>
        </div>
        <SocialMedia orientation="inline" />
        <SocialMedia orientation="fixed" />
      </div>
    </div>
  </div>
  <img width="617" height="925" class="w-[617px] absolute top-0 left-0" src="/bg/main-bg-2.webp" alt="">
  <img width="743" height="835" class="z-[2] sm:opacity-[0.4] w-[743px] absolute bottom-0 right-0" src="/bg/main-bg-1.webp" alt="">
</div>
