---
import UIBtn from "./ui-btn.astro"

---
<div class="bg-[url('/bg/bg-part.webp')] bg-cover pb-[200px] sm:pb-[50px] sm:pt-[5px] pt-[47px]">
  <div class="max-w-[1280px] sm:px-[24px] mx-auto">
    <div class="text-[45px] sm:text-[28px] font-bold  capitalize">
      <span class="text-[#24F0F0] sm:text-white">Cтань частью</span> этого уникального события
    </div>
    <div class="text-[20px] sm:leading-[19px] sm:text-[16px] sm:mt-[24px] mt-[75px]">
      Зарегистрируйтесь сейчас и приобретите билеты на Digital Umma IT Forum. Присоединяйтесь к нам для создания будущего, в котором технологии и исламские ценности гармонично сосуществуют.
    </div>
    <div class="mt-[43px] flex items-center pb-[20px] overflow-x-scroll space-x-[20px]">
      <div>
        <div class="w-[300px] h-[200px] sm:w-[250px] sm:h-[167px] bg-[#101D3C] flex flex-col justify-center items-center">
          <div class="text-[37px] sm:text-[30px] text-[#52FFFF]">
            2000
          </div>
          <div class="text-[16px] sm:text-[13px]">участников</div>
        </div>
        <div class="w-[300px] h-[200px] sm:w-[250px] sm:h-[167px] mt-[20px]">
          <img width="300" height="200" class="w-full" src="/part/random-0.png" alt="">
        </div>
      </div>
      <div>
        <div class="w-[600px] sm:w-[435px] sm:h-auto h-[420px]">
          <img width="600" height="420" class="w-full object-contain" src="/part/random-1.webp" alt="">
        </div>
      </div>
      <div>
        <div class="w-[300px] h-[200px] sm:w-[250px] sm:h-[167px] mb-[20px]">
          <img width="300" height="200" class="w-full object-contain" src="/part/random-2.webp" alt="">
        </div>
        <div class="w-[300px] h-[200px] sm:w-[250px] sm:h-[167px] bg-[#101D3C] flex flex-col justify-center items-center">
          <div class="text-[42px] text-[#19FB9B]">
            30+
          </div>
          <div class="text-[16px] max-w-[195px] text-center">лучших экспертов спикеров в своем деле</div>
        </div>
      </div>
      <div>
        <div class="w-[300px] sm:h-auto h-[420px] sm:w-[250px]">
          <img width="300" height="200" class="w-full object-contain" src="/part/random-3.png" alt="">
        </div>
      </div>
      <div>
        <div class="sm:p-2 w-[300px] h-[200px] sm:w-[250px] sm:h-[167px] bg-[#101D3C] flex flex-col justify-center items-center">
          <div class="text-[42px] sm:text-[30px] text-[#FFEB3B]">
            Нетуоркинг
          </div>
          <div class="text-[16px] sm:text-[13px] max-w-[255px] text-center">найди единомышленников и
            обрети лучшее окружение</div>
        </div>
        <div class="w-[300px] h-[200px] sm:w-[250px] sm:h-[167px] mt-[20px] sm:mt-[0]">
          <img width="300" height="200" class="w-full object-contain" src="/part/random-4.png" alt="">
        </div>
      </div>
      <div>
        <div class="w-[600px] h-[420px] sm:w-[450px] sm:h-auto">
          <img width="300" height="200" class="w-full object-contain" src="/part/random-5.png" alt="">
        </div>
      </div>
    </div>
    <div class="sm:hidden flex justify-center mt-[100px]">
      <UIBtn href="https://docs.google.com/forms/d/12ZlQreBqfNXB95PaCbBpT8dX4hIZpWWUnsLuLO8CDYQ/edit" type="primary">Регистрация</UIBtn>
    </div>
  </div>
</div>