---
import "@fontsource-variable/inter";
import "@fontsource-variable/raleway";

import About from "~/components/about.astro";
import Sponsors from "~/components/sponsors.astro";
import Program from '~/components/program.astro'
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Part from "~/components/part.astro";
import Expectation from "~/components/expectation.astro";
import Speakers from "~/components/speakers.astro";
import Location from "~/components/location.astro";
import Contacts from "~/components/contacts.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.webp", site);
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Digital Umma IT Forum</title>
    <meta name="description" content="Digital Umma IT Forum - это не только форум, это движение, объединяющее передовые IT-решения с исламскими ценностями." />

    <!-- social media -->
    <meta property="og:title" content="Digital Umma IT Forum" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Digital Umma IT Forum - это не только форум, это движение, объединяющее передовые IT-решения с исламскими ценностями." />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Intro />
    <Sponsors />
    <About />
    <Expectation />
    <Speakers />
    <Program />
    <Part />
    <Location />
    <Contacts />
    <Footer />
  </body>
</html>
