<div id="about" class="relative">
  <div class="z-[1] max-w-[1280px] flex sm:flex-wrap justify-between mx-auto pt-[117px] sm:pt-[40px] font-railway pb-[143px] sm:pb-[10px]">
    <div>
      <div class="text-[50px] leading-[58px] font-bold">
        О нашем фонде <span class="text-[#0080B5]"><br/>WAQF</span>
      </div>
      <div class="max-w-[490px] text-[18px] mt-[34px]">
        Мы рады объявить о запуске венчурного фонда WAQF, коммерческой инициативы, нацеленной на <span class="font-bold">поддержку стартапов</span>, которые приносят пользу и <span class="font-bold">решают актуальные проблемы мусульманского сообщества</span> по всему миру. 
<br/>
<br/>
Фонд WAQF представляет собой уникальную платформу <span class="font-bold">для инвестирования в проекты</span>, ориентированные на ценности и принципы, важные для мусульман.
      </div>
    </div>
    <img width="542" height="550" class="max-w-[542px] sm:max-w-[90vw] sm:mr-0 mr-[64px]" src="/optimized/about.webp" alt="">
  </div>
</div>
