---
const keyVal = {
  "О нашем фонде": "عن صندوقنا",
  "Мы рады объявить о запуске венчурного фонда WAQF, коммерческой инициативы, нацеленной на поддержку стартапов, которые приносят пользу и решают актуальные проблемы мусульманского сообщества по всему миру.": "يسرّنا الإعلان عن إطلاق صندوق رأس المال الاستثماري WAQF، مبادرة تجارية تهدف إلى دعم الشركات الناشئة التي تسهم في تحقيق الفائدة وحل المشاكل الراهنة للمجتمع المسلم حول العالم",
  "Фонд WAQF представляет собой уникальную платформу для инвестирования в проекты, ориентированные на ценности и принципы, важные для мусульман.": "الصندوق WAQF يُعَدُّ منصة فريدة للاستثمار في المشاريع الموجهة نحو القيم والمبادئ الهامة للمسلمين"
}
const keyVal_EN = {
  "О нашем фонде": "About Our Fund",
  "Мы рады объявить о запуске венчурного фонда WAQF, коммерческой инициативы, нацеленной на поддержку стартапов, которые приносят пользу и решают актуальные проблемы мусульманского сообщества по всему миру.": "We are pleased to announce the launch of the WAQF Venture Fund, a commercial initiative aimed at supporting startups that bring benefit and address pressing issues within the global Muslim community.",
  "Фонд WAQF представляет собой уникальную платформу для инвестирования в проекты, ориентированные на ценности и принципы, важные для мусульман.": "The WAQF Fund is a unique platform for investing in projects aligned with values and principles important to Muslims."
}
const {lang} = Astro.props

const t = (key: string) => {
  if (lang === 'ar') {
    return keyVal[key] as string
  } else if (lang === 'en') {
    return keyVal_EN[key]
  } else {
    return key
  }
}
---

<div id="about" class="relative">
  <div class="z-[1] max-w-[1280px] sm:px-[24px] flex sm:flex-wrap justify-between mx-auto pt-[117px] sm:pt-[40px] font-railway pb-[143px] sm:pb-[61px]">
    <div class="sm:order-1">
      <div class="text-[50px] sm:mt-[18px] sm:text-[36px] sm:leading-[40px] leading-[58px] font-bold">
        {t`О нашем фонде`} <span class="text-[#0080B5]"><br/>WAQF</span>
      </div>
      <div class="max-w-[490px] text-[18px] sm:text-[16px] mt-[34px]">
        {t`Мы рады объявить о запуске венчурного фонда WAQF, коммерческой инициативы, нацеленной на поддержку стартапов, которые приносят пользу и решают актуальные проблемы мусульманского сообщества по всему миру.`}
<br/>
<br/>
{t`Фонд WAQF представляет собой уникальную платформу для инвестирования в проекты, ориентированные на ценности и принципы, важные для мусульман.`}
      </div>
    </div>
    <img width="542" height="550" class="max-w-[542px] sm:max-w-[90vw] sm:mr-0 mr-[64px]" src="/optimized/about.webp" alt="">
  </div>
</div>
