---
import UiBtn from "./ui-btn.astro"


---

<div id="how" class="font-railway sm:pt-[80px] pt-[99px] pb-[50px] bg-[url('/bg/bg-speakers.webp')] bg-cover sm:bg-[500px]">
  <div class="max-w-[1280px] mx-auto">
    <div class="text-[54px] leading-[60px] font-bold text-center">
      Доступ на <span class="text-[#0080B5]">международные <br/></span> исламские <span class="text-[#0080B5]">рынки</span>
    </div>
    <div class="text-center max-w-[933px] mx-auto mt-[71px] text-[#61647C]">
      Фонд WAQF также обеспечивает уникальную поддержку в выходе стартапов на международные исламские рынки. 
Благодаря нашей обширной сети контактов и партнерствам, мы предоставляем стартапам платформу для расширения их бизнеса за пределы местного рынка, открывая доступ к глобальной мусульманской экономике.
    </div>
    <div class=" flex justify-center mt-[56px]">
      <UiBtn href="#form" isInternal type="primary">Подать заявку</UiBtn>
    </div>
  </div>
</div>