---
import Accordion from './svelte/accordion.svelte'

const {lang} = Astro.props
---

<div id="program" class="sm:px-[24px] pt-[135px] sm:pb-[104px] sm:pt-[50px] pb-[200px] font-railway">
  <div class="max-w-[1280px] mx-auto flex sm:flex-wrap items-center">
    <img width="536" height="587" class="max-w-[536px] sm:hidden" src="/optimized/focus.webp" alt="statistics image">
    <img width="336" height="387" class="max-w-[88vw] hidden sm:block" src="/optimized/focus-sm.webp" alt="statistics image">
    <div class="ml-[80px] sm:ml-0">
      {
        lang === 'ar' ? 
        <div class="text-[54px] sm:text-[36px] sm:leading-[40px] sm:text-center sm:py-[24px] leading-[59px] font-bold">
          تركيزنا في الاستثمارات
        </div>
        :
        lang === 'en' ?
        <div class="text-[54px] sm:text-[36px] sm:leading-[40px] sm:text-center sm:py-[24px] leading-[59px] font-bold">
          Our Investment Focus
        </div>
        :
        <div class="text-[54px] sm:text-[36px] sm:leading-[40px] sm:text-center sm:py-[24px] leading-[59px] font-bold">
          Наш <span class="text-[#0080B5]">фокус</span> в инвестиций
        </div>
      }
      <div class="mt-[20px]">
        <Accordion lang={lang} client:idle/>
      </div>
    </div>
  </div>
</div>