---
import UIBtn from "./ui-btn.astro"

---
<div class="font-railway  sm:hidden pb-[200px] sm:pb-[50px] sm:pt-[5px] pt-[27px]">
  <div class="max-w-[1280px] sm:px-[24px] mx-auto flex justify-center">    <div class="flex min-w-[50%] flex-col items-stretch">
      <div class="shadow-card p-[30px] rounded-[16px] w-[350px]">
        <div class="flex items-center text-[24px] leading-[28px] font-bold space-x-[20px]">
          <img width="60" height="60" src="/illus.svg" alt="">
          <span>
            Подаете заявку
          </span>
        </div>
        <div class="text-[16px] leading-[20px] mt-[16px]">
          Заполните онлайн-форму заявки на нашем сайте. Отправьте подробный бизнес-план, который описывает ваше видение, миссию и как ваш проект приносит пользу обществу.
        </div>
      </div>
      <div class="shadow-card -mt-[40px] z-[2] relative self-end p-[30px] rounded-[16px] w-[350px]">
        <div class="flex items-center text-[24px] leading-[28px] font-bold space-x-[20px]">
          <img width="60" height="60" src="/illus2.svg" alt="">
          <span>
            Проверяем ваш стартап 
          </span>
        </div>
        <div class="text-[16px] leading-[20px] mt-[16px]">
          Наша команда рассмотрит вашу заявку и свяжется с вами для собеседования.
        </div>
      </div>
      <div class="shadow-card -mt-[40px] p-[30px] rounded-[16px] w-[350px]">
        <div class="flex items-center text-[24px] leading-[28px] font-bold space-x-[20px]">
          <img width="60" height="60" src="/illus3.svg" alt="">
          <span>
            Получаете  поддержку
          </span>
        </div>
        <div class="text-[16px] leading-[20px] mt-[16px]">
          Успешные кандидаты будут приняты в нашу программу и получат индивидуальную поддержку.
        </div>
      </div>
        
    </div>
    <div class="max-w-[379px] ml-[39px]">
      <div class="text-[48px] leading-[53px] font-Inter text-[#263238] font-bold">
        Как подать <span class="text-[#0080B5]">заявку</span> для инвестиций?
      </div>
      <div class="text-[16px] mt-[22px]">
        Мы приглашаем стартапы, разделяющие наши ценности и стремящиеся оказать позитивное влияние на мусульманское сообщество, подать заявку на финансирование. 
<br/>
<br/>
Вместе мы сможем создать основу для нового поколения компаний, которые будут способствовать развитию и процветанию наших общин по всему миру.
      </div>
      <div class="mt-[27px]">
        <UIBtn href="#form" isInternal type="primary">Подать заявку</UIBtn>
      </div>
    </div>
  </div>
</div>