---
import { Icon } from "astro-icon/components";
import UIBtn from "./ui-btn.astro";
import Timer from './svelte/timer.svelte'
import SocialMedia from './social-media.astro'
---
<div id="main" class="relative sm:py-[5vh] py-[204px]">
  <div>
    <div>
      путь исламских инноваций ради всеобщего процветания
    </div>
    <div>
      Присоединяйтесь к нашему пути поддержки стартапов с шариатскими инвестициями и преобразующими бизнес-решениями
    </div>
    <UIBtn type="primary">
      Подать заявку
    </UIBtn>
    <UIBtn>
      Подать заявку
    </UIBtn>
  </div>
</div>
