---
import UIBtn from "./ui-btn.astro";
---

<div id="events" class="bg-[url('/bg/bg-speakers.webp')] bg-cover bg-no-repeat bg-center pb-[73px] sm:pb-[0] font-railway">
  <div class="max-w-[1280px] mx-auto flex items-center space-x-[26px]">
   <img class="max-w-[500px]" src="/invest.png" alt="">
    <div >
      <div class="text-[57px] leading-[64px] font-bold">
        Объем инвестиций и стадии <span class="text-[#0080B5]">поддержки</span>
      </div>
      <div class="flex space-x-[32px] mt-[48px] items-center">
        <svg width="110" height="111" viewBox="0 0 110 111" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="55" cy="55.0122" r="55" fill="#0080B5" fill-opacity="0.1"/>
          <path d="M67.2502 62.9135C67.2502 54.8372 60.6352 53.9167 55.3204 53.1782C49.5279 52.3732 46.2502 51.6732 46.2502 46.6857C46.2502 42.4997 50.6374 41.0122 54.3947 41.0122C56.2671 40.9517 58.1271 41.3372 59.8212 42.1368C61.5154 42.9364 62.9952 44.1273 64.1387 45.6112L66.8617 43.4132C65.6371 41.8385 64.1134 40.5214 62.3781 39.5375C60.6428 38.5536 58.7302 37.9224 56.7502 37.6802V32.2622H53.2502V37.5507C46.9239 37.9357 42.7502 41.5057 42.7502 46.6857C42.7502 54.9632 49.4527 55.896 54.8374 56.6432C60.5302 57.436 63.7502 58.1167 63.7502 62.9135C63.7502 68.2195 58.2674 69.0122 55.0002 69.0122C48.9977 69.0122 46.4637 67.3252 44.1117 64.4132L41.3887 66.6112C42.776 68.4394 44.5704 69.9191 46.6293 70.9327C48.6883 71.9464 50.9552 72.4663 53.2502 72.451V77.7622H56.7502V72.4335C63.2707 71.9015 67.2502 68.3612 67.2502 62.9135Z" fill="#0080B5"/>
        </svg>
        <div>
          <div class="text-[20px] font-bold">Финансовая поддержка</div>
          <div class="max-w-[432px] text-[18px] mt-[16px]">Фонд готов инвестировать суммы от $50,000 до $500,000 в стартапы</div>
        </div>  
      </div>
      <div class="flex space-x-[32px] mt-[48px] items-center">
        <svg width="110" height="111" viewBox="0 0 110 111" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="55" cy="55.5121" r="55" fill="#0080B5" fill-opacity="0.1"/>
          <path d="M76 71.2621L73.5255 68.7876L69 73.3131V59.0121H65.5V73.3131L60.9745 68.7876L58.5 71.2621L67.25 80.0121L76 71.2621Z" fill="#0080B5"/>
          <path d="M44.5 76.5121V45.0121H65.5V53.7621H69V38.0121C68.9991 37.0841 68.63 36.1944 67.9739 35.5382C67.3177 34.8821 66.428 34.513 65.5 34.5121H44.5C43.572 34.513 42.6823 34.8821 42.0261 35.5382C41.37 36.1944 41.0009 37.0841 41 38.0121V76.5121C41.0009 77.4401 41.37 78.3298 42.0261 78.9859C42.6823 79.6421 43.572 80.0112 44.5 80.0121H55V76.5121H44.5ZM44.5 38.0121H65.5V41.5121H44.5V38.0121Z" fill="#0080B5"/>
        </svg>
        <div>
          <div class="text-[20px] font-bold">Разные стадии проекта</div>
          <div class="max-w-[432px] text-[18px] mt-[16px]">Готовы финансировать как стартапы на ранних стадиях развития — pre-seed и seed, так и уже запустивщиеся бизнесы</div>
        </div>  
      </div>
      <div class="flex space-x-[32px] mt-[48px] items-center">
        <svg width="110" height="111" viewBox="0 0 110 111" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="55" cy="55.5121" r="55" fill="#0080B5" fill-opacity="0.1"/>
          <path d="M69 59.5121C71.612 59.5121 73.836 61.1821 74.66 63.5121H55V62.5121H41C40.2545 62.5121 39.5358 62.7896 38.9838 63.2906C38.4318 63.7916 38.0861 64.4801 38.014 65.2221L38 65.5121V66.9421C38 72.2901 44.778 76.5121 55 76.5121V75.5121H69.942C66.362 77.9981 61.122 79.5121 55 79.5121C43.42 79.5121 35 74.3781 35 66.9421V65.5121C35 63.9208 35.6321 62.3947 36.7574 61.2694C37.8826 60.1442 39.4087 59.5121 41 59.5121H69ZM75 65.5121V66.9421C75 67.4761 74.954 68.0001 74.86 68.5121H55V65.5121H75ZM74.258 70.5121H55V73.5121H72.268C73.122 72.5901 73.794 71.5841 74.258 70.5121ZM66.908 42.0121C67.0321 43.0082 67.0321 44.0159 66.908 45.0121H55V42.0121H66.908ZM66.482 40.0121C66.1587 38.9523 65.6895 37.9426 65.088 37.0121H55V40.0121H66.48H66.482ZM55 31.5121C58.306 31.5121 61.3 32.8501 63.47 35.0121H55V34.5121C52.6131 34.5121 50.3239 35.4603 48.636 37.1481C46.9482 38.8359 46 41.1251 46 43.5121C46 45.899 46.9482 48.1882 48.636 49.876C50.3239 51.5639 52.6131 52.5121 55 52.5121V52.0121H63.47C62.0728 53.4045 60.3539 54.4309 58.4654 55.0007C56.5769 55.5704 54.5771 55.6658 52.6429 55.2784C50.7088 54.8911 48.9 54.0329 47.3765 52.7798C45.8531 51.5268 44.6621 49.9175 43.9088 48.0944C43.1556 46.2713 42.8634 44.2907 43.058 42.3278C43.2527 40.3648 43.9283 38.4802 45.0249 36.8406C46.1216 35.201 47.6055 33.857 49.3454 32.9276C51.0853 31.9982 53.0274 31.512 55 31.5121ZM65.088 50.0121H55V47.0121H66.48C66.156 48.0841 65.684 49.0921 65.088 50.0121Z" fill="#0080B5"/>
        </svg>          
        <div>
          <div class="text-[20px] font-bold">Проект для социума</div>
          <div class="max-w-[432px] text-[18px] mt-[16px]">Мы стремимся обеспечить потребностей молодых компаний, стремящихся к росту и развитию своих инновационных идей и решений.</div>
        </div>  
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-[86px]">
    <UIBtn type="primary">Подать заявку</UIBtn>
  </div>
</div>