

<div id="program" class="bg-[url('/bg/bg-program.webp')] sm:px-[24px] pt-[135px] sm:pb-[104px] sm:pt-[50px] pb-[200px] bg-cover bg-left-bottom bg-no-repeat font-railway">
  <div class="max-w-[1280px] mx-auto">
    <div class="text-[45px] font-bold sm:hidden">Программа форума</div>
    <div class="text-[28px] text-center font-bold hidden sm:block bg-gradient-to-r from-cyan-300 via-purple-450 to-purple-700 text-transparent bg-clip-text">Программа</div>
    <div class="mt-[70px] sm:mt-[24px]">
      <div class="flex space-x-4 sm:space-x-0 sm:space-y-[20px] sm:flex-wrap">
        <div class="w-[50%] sm:w-full p-[20px] rounded-[18px]" style="background:rgba(30, 65, 105, 0.33)">
          <div class="text-[22px] text-[#52FFFF] font-bold">
            Al Farabi Hall
          </div>
          <div class="text-[16px] font-sans">
            <br/>10:00-10:15 Регистрация (посадка)
            <br/>10:15-10:20 Приветствие
            <br/>10:20-10:30 +5 Асылбек Мукенов (Mihrab.kz)
            <br/>10:35-10:45 +5 Біржан Абишев (product design 9+years)
            <br/>10:50-11:00 +5 Айдаш Алдияр ( Aidashstudio)
            <br/>11:05-11:15 +5 Кербез (ex-Google)
            <br/>11:20-11:30 +5 Сакен Садыков (GameDev)
            <br/>12:35-12:55 +5 Лаура Жактиова (Coffe.Original)
          </div>
        </div>
        <div class="w-[50%] sm:w-full p-[20px] rounded-[18px]" style="background:rgba(30, 65, 105, 0.33)">
          <div class="text-[22px] text-[#52FFFF] font-bold">
            Coffe break 13:00-14:15
          </div>
          <div class="text-[16px] font-sans">
            <br/>14:15-14:25 +5 Nabeel Shariff (GMW, launchGood & Barakah)
            <br/>14:30-14:40 +5 Юсуф Абдуллаев - (Edtech)
            <br/>14:45-14:55 +5 Темирлан Кабылбеков( EasyTap)
            <br/>16:00-16:10 +5 Жаксенов Самат Нұржанұлы (Muslim United Super App)
            <br/>16:15-16:30 +5 Ануаров Бексултанхожа( Paydax )
            <br/>16:35-16:45 +5 Бақытжан Шабдукарим (ara.studios, @ara_academy_kz)
          </div>
        </div>
      </div>
      <div class="flex mt-[20px] space-x-4 sm:space-x-0 sm:space-y-[20px] sm:flex-wrap">
        <div class="w-[50%] sm:w-full p-[20px] rounded-[18px]" style="background:rgba(30, 65, 105, 0.33)">
          <div class="text-[22px] text-[#52FFFF] font-bold">
            Панельные сессии
          </div>
          <div class="text-[16px] font-sans">
            <br/>11:30-12-30 +5 <span class="font-bold">Панельная сессия</span> "Этика и предпринимательство: Исламский подход к бизнесу": Асқар Білісбеков, Асқар Болат, Ақсұлтан Қалиев с модератором Жаксенов Самат
            <br/>
            <br/>15:00-16-00 <span class="font-bold">Панельная сессия</span> "Исламские финансы в Казахстане: интеграция в общество": Мақсатбек Қайырғалиев, Мадина Тукулова, Арман Баев, Баубек с Модератором: Азат Өтепбай
            <br/>
            <br/>17:15-18:15 <span class="font-bold">Панельная сессия</span> "Медиа в исламском мире: Традиции и современные тенденции": Нұртас Адамбай, Нұрсултан Зайкенов, Асхат Нұрмашев, Ануарбек Жалел c Модератором: Ринат Исмаилов 



          </div>
        </div>
        <div class="w-[50%] sm:w-full p-[20px] rounded-[18px]" style="background:rgba(30, 65, 105, 0.33)">
          <div class="text-[22px] text-[#52FFFF] font-bold">
            Coffe break 16:45 - 17:15
          </div>
          <div class="text-[16px] font-sans">
            <br/>18:15-18:30 +5 Дулат Муратханов (hitba)
            <br/>18:35-18:45 +5 Айболат Кулатай ( Aqyl battle)
            <br/>18:50- 19:00 +5 Али Махмуд (PM Tele2, ex HOP Tayyab)
            <br/>19:05-19:15 +5 Чингиз Садуев (halalguide)
            <br/>19:20-19:30 +5 Бимбетов Фараби (Namazhana)
            <br/>19:35-19:45 +5 Arthur Muratov (ImamAI)
            <br/>19:50-20:00 +5 Adil Almas ( Sajda )
            <br/>20:05-20:15 +5 Muammar Al-Shedivat(UvU)
        </div>
        </div>
      </div>
    </div>
  </div>
</div>