---
import UIBtn from "./ui-btn.astro";
---

<div id="services" class="">
  <div
    class="mx-auto max-w-[1580px] py-[68px] font-railway sm:py-[40px] sm:pb-[20px]"
  >
    <div class="text-[36px] text-[#292E3D] font-bold text-center">
      Вместе мы предоставляем
    </div>
    <div class="flex sm:flex-wrap gap-[56px] justify-center mt-[50px]">
      <div class="max-w-[295px] p-[20px] border-[#E0E3EB] border-2 rounded-[16px]">
        <img width="60" height="60" src="/Money_Bag.svg" alt="">
        <div class="py-[18px] font-bold text-[20px]">
          Финансовая поддержка
        </div>
        <div class="text-[16px]">
          Предоставляем поддержку, полностью соответствующих принципам исламских финансов 
        </div>
      </div>
      <div class="max-w-[295px] p-[20px] border-[#E0E3EB] border-2 rounded-[16px]">
        <img width="60" height="60" src="/Consultation.svg" alt="">
        <div class="py-[18px] font-bold text-[20px]">
          Наставничество
        </div>
        <div class="text-[16px]">
          Соединяем вас с лидерами и успешными предпринимателями разделяющие наши ценности
        </div>
      </div>
      <div class="max-w-[295px] p-[20px] border-[#E0E3EB] border-2 rounded-[16px]">
        <img width="60" height="60" src="/Business.svg" alt="">
        <div class="py-[18px] font-bold text-[20px]">
          Бизнес решения
        </div>
        <div class="text-[16px]">
          всесторонние бизнес-советы,  стратегическое планирование, операции, маркетинг и многое другое
        </div>
      </div>
    </div>
  </div>
</div>

