---
import UiBtn from "./ui-btn.astro"


---

<div id="speakers" class="font-railway sm:pt-[80px] pt-[99px] pb-[50px] bg-[url('/bg/bg-speakers.webp')] bg-cover sm:bg-[500px]">
  <div class="max-w-[1280px] mx-auto">
    <div class="text-[45px] sm:text-[28px] sm:text-center font-bold bg-gradient-to-r from-cyan-300 via-purple-950 sm:via-cyan-500 to-purple-700 text-transparent bg-clip-text">
      Спикеры
    </div>
    <div class="text-[20px] mt-[20px] sm:text-center sm:max-w-[80%] mx-auto">Встречайте вдохновляющих лидеров и экспертов из мира IT и ислама.</div>
    <div class="flex justify-between sm:justify-center flex-wrap">
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p13.png" alt="">
        <div class="text-[28px] font-bold mt-1">Nabeel Shariff</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">GMW Network</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p7.png" alt="">
        <div class="text-[28px] font-bold mt-1">Adil Almas</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">Sajda</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p3.png" alt="">
        <div class="text-[28px] font-bold mt-1">Биржан Абишев</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">Strong Team</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p5.png" alt="">
        <div class="text-[28px] font-bold mt-1">Muammar Al-Shedivat</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">UvU</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p1.png" alt="">
        <div class="text-[28px] font-bold mt-1">Асылбек Мукенов</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">Mihrab.kz</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p4.png" alt="">
        <div class="text-[28px] font-bold mt-1">Темирлан Кабылбеков</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">EasyTap</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p8.png" alt="">
        <div class="text-[28px] font-bold mt-1">Шыңғыс Садуев</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">HalalGuide</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p2.png" alt="">
        <div class="text-[28px] font-bold mt-1">Дулат Муратханов</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">hitba</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p6.png" alt="">
        <div class="text-[28px] font-bold mt-1">Али Махмудов</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">Tele2 Kazakhstan</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p9.png" alt="">
        <div class="text-[28px] font-bold mt-1">Arthur Muratov</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">ImamAI</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p10.png" alt="">
        <div class="text-[28px] font-bold mt-1">Бимбетов Фараби</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">Namazhana</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p11.png" alt="">
        <div class="text-[28px] font-bold mt-1">Сакен Садыков</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">GameDev</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p12.png" alt="">
        <div class="text-[28px] font-bold mt-1">Бақытжан Шабдукарим</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">ara.studios</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p14.png" alt="">
        <div class="text-[28px] font-bold mt-1">Malika Shertai</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">STEM Career</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p15.png" alt="">
        <div class="text-[28px] font-bold mt-1">Kerbez Orazgalieva</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">Ex-Google</div>
      </div>
      <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
        <img class="w-[136px]" width="136" height="136" src="/persons/p16.png" alt="">
        <div class="text-[28px] font-bold mt-1">Aldiyar Aidash</div>
        <div class="text-[22px] font-normal text-[#EAEAEA]">Aidash Studio</div>
      </div>
    </div>
    <div class=" flex justify-center mt-[56px]">
      <UiBtn disabled={true}>Стать спикером</UiBtn>
    </div>
  </div>
</div>