---
const {type, full = false, href = '', title = '', disabled = false, isInternal= false, id = ''} = Astro.props
---
<a class={`${full ? 'sm:w-full' : ''} `} id={id} href={href} target={isInternal ? '_self' :'_blank'}>
  <button disabled={disabled} title={title} class={`${full ? 'sm:w-full' : ''} disabled:cursor-not-allowed disabled:opacity-[0.6] sm:disabled:opacity-[0.2] text-[16px] font-medium rounded-[8px] py-[10px] px-[44px] font-railway hover:opacity-[0.8] active:opacity-[0.7] ${type === 'primary' ? 'bg-[#0080B5] text-white': 'bg-white border-[#61647C] border text-[#61647C] hover:bg-[#0080B5] hover:opacity-[0.7] hover:text-white'}`}>
    <slot />
  </button>
</a>