---
const {type, href = '', title = '', disabled = false, id = ''} = Astro.props
---
<a id={id} href={href} target="_blank">
  <button disabled={disabled} title={title} class={`disabled:cursor-not-allowed disabled:opacity-[0.6] sm:disabled:opacity-[0.2] text-[16px] font-medium rounded-[8px] py-[15px] px-[44px] font-railway hover:opacity-[0.8] active:opacity-[0.7] ${type === 'primary' ? 'bg-[#0080B5] text-white': 'bg-white border-[#61647C] border text-[#61647C] hover:bg-[#0080B5] hover:opacity-[0.7] hover:text-white'}`}>
    <slot />
  </button>
</a>